<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title if title else "SimFBA" }}</title>
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header class="topbar">
    <div class="container">
      <a href="/" class="brand">SimFBA</a>
      <nav class="nav">
        <a href="/">Viewer</a>
        <a href="/admin">Admin</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
